#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.header__h1 {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .header__title {
	font-size: 1.4rem !important;
  }
}

.initial-loader {
  height: 300px;
  line-height: 300px;
}

.breadcrumbs {
  padding: 2rem;

  &__item {
	&:not(:last-child):after {
	  font-family: 'Material Icons';
	  content: '\E5CC';
	  vertical-align: middle;
	  margin-left: .5rem;
	}
  }
}

.footer {
  background-color: $main-color;

  &-container {
	display: flex;
	justify-content: center;
  }

  &-inner {
	display: flex;
	align-items: center;
  }

  &__copyright {
	font-size: 1.2rem;
	margin-right: .5rem;
	height: 3rem;
	color: $white;

	&-link {
	  color: $white;
	}
  }

  &__sns-list {
	display: flex;
	height: 3rem;
  }

  &__sns-icon {
	color: $white;
	font-size: 1.5rem;
	margin-right: .5rem;
  }
}